
<title>Заказ роллов доставка</title>

<h1 align="center">Роллы</h1>

<form asp-action="Rolls" asp-controller="Catalog">
    <div class='catalog'>

        @foreach (var roll in Model)
        {
            <div class='card'>
                <div class='card-text'>
                    <div class='card-name'>@roll.Title</div>

                    <div class='card-desc'>
                        @roll.Description
                    </div>
                </div>
                <div class='card-bottom'>
                    <div class='card-price'>@roll.Price р</div>
                    <div class='card-counter'>
                        <button class="decrement button" type ="button" data-product-id="@roll.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
                            </svg>
                        </button>

                        <input type="text" id="quantity_@roll.Id" readonly value="@roll.Quantity" />
                        <button class="increment button" type="button" data-product-id="@roll.Id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                            </svg>
                        </button>

                    </div>

                </div>
            </div>
        }
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('.decrement').click(function () {
        var productId = $(this).data('product-id');

        // Отправляем AJAX-запрос для уменьшения количества товара
        $.post("/Catalog/ProductQuantityDecrement", { productId: productId }, function (response) {
            if (response.success) {
                // Обновляем количество товара на странице
                var quantityElement = $('#quantity_' + productId); // Выбираем элемент по новому идентификатору
                var newQuantity = response.quantity;
                quantityElement.val(newQuantity);
            } else {
                alert('Ошибка при уменьшении количества товара.');
            }
        }).fail(function () {
            alert('Ошибка при выполнении AJAX-запроса.'); // Эта строка должна быть частью вызова функции
        });
    });

    $('.increment').click(function () {
        var productId = $(this).data('product-id');

        // Отправляем AJAX-запрос для увеличения количества товара
        $.post("/Catalog/ProductQuantityIncrement", { productId: productId }, function (response) {
            if (response.success) {
                // Обновляем количество товара на странице
                var quantityElement = $('#quantity_' + productId); // Выбираем элемент по новому идентификатору
                var newQuantity = response.quantity;
                quantityElement.val(newQuantity);
            } else {
                alert('Ошибка при увеличении количества товара.');
            }
        }).fail(function () {
            alert('Ошибка при выполнении AJAX-запроса.'); // Эта строка должна быть частью вызова функции
        });
    });
</script>



