
<title>Заказ роллов доставка</title>

<h1 align="center">Роллы</h1>

<form asp-action="Rolls" asp-controller="Catalog">
    <div class='catalog'>

        @foreach (var roll in Model)
        {
            <div class='card'>
                <div class='card-text'>
                    <div class='card-name'>@roll.Title</div>

                    <div class='card-desc'>
                        @roll.Description
                    </div>
                </div>
                <div class='card-bottom'>
                    <div class='card-price'>@roll.Price р</div>
                    <div class='card-counter'>
@*                         <div class='btn'  @ProductService.ProductQuantityDecrementAsync(roll)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
                            </svg>
                        </div> *@
                        <input type="text" id="@roll.Id" readonly value="@roll.Quantity" />
@*                         <div class='btn' onclick="async () => await @ProductService.ProductQuantityIncrementAsync(roll)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                            </svg>
                        </div> *@
                    </div>

                </div>
            </div>
        }
    </div>
</form>




@* 
    List<Product>Rolls = new List<Product>();

        protected override async Task OnInitializedAsync()
        {
            Rolls = await ProductService.GetAllRollAsync();
        }

 *@